table,
th,
td {
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
table {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  padding: 0 20px;
}
